html {
  scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

/*--------------------------------------------------------------------> Links */

a {
    color: #552955;
}

a:hover,
a:active,
a:focus,
a:active:focus {
    text-decoration: none;
    color: #5b6265;
}


/*-------------------------------------------------------------------> Navbar */

.navbar {
    background-color: #fbd9ce;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 4px 0;
}