html {
  scroll-behavior: smooth;
}

body {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
}

/*--------------------------------------------------------------------> Links */

a {
    color: #1aaa9d;
}

a:hover,
a:active,
a:focus,
a:active:focus {
    text-decoration: none;
    color: #552955;
}

/*-----------------------------------------------------------------> Headings */

h1, h2, h3, h4 {
    font-family: 
    color:;
    font-weight:;
    letter-spacing:;
}

h1 {
    font-size: px;
    line-height: px;
    margin-top: px;
    margin-bottom: px;
}
    
h2 {
    font-size: px;
    line-height: px;
    margin-top: px;
    margin-bottom: px;
}

h3 {
    font-size: px;
    line-height: px;
    margin-top: px;
    margin-bottom: px;
}

h4 {
    font-size: px;
    line-height: px;
    margin-top: px;
    margin-bottom: px;
}

/*-------------------------------------------------------------------> Navbar */

.navbar {
    padding: 0 4px 2px 6px;
    background-color: #fbd9ce;
    font-size: 85%;
}

.nav-container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.alert-container {
    padding-left: 0;
    padding-right: 0;
}

.alert.alert-for-pro {
  margin-bottom: 0;
  border-radius: 0;
  padding: 4px 8px;
  background-color: #f5f5f5;
}

.navbar .navbar-toggler {
    border: 0!important;
}
